@using Le6pergram.Web.Utilities;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ var currentUse = AuthManager.GetAuthenticated();}
    <div class="navbar navbar-inverse navbar-fixed-top" id="navBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <img style="width: 143px; height: 55px;" class="le6pergramLogo" src="~/Content/le6pergram.jpg" onclick="location.href='@Url.Action("Index","Home")'" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    @if (currentUse == null)
                    {
                        <li>@Html.ActionLink("Register", "Create", "Users")</li>
                        <li>@Html.ActionLink("Login", "Login", "Users")</li>
                    }
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <form method="post" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" placeholder="Search..." name="searchEngine" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-default" id="searchBtn" formaction="../../Search/Index">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (currentUse != null)
                    {
                        <li>@Html.ActionLink("Upload Photo", "Create", "Pictures")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                        <li>@Html.ActionLink("Hello " + currentUse.Username, "Details/" + currentUse.Id, "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - le6pergram</p>
        </footer>
    </div>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
