@using Le6pergram.Web.Utilities;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <img style="width: 143px; height: 55px;" class="le6pergramLogo" src="~/Content/le6pergram.jpg" onclick="location.href='@Url.Action("Index","Home")'" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (AuthManager.GetAuthenticated() == null)
                    {
                        <li>@Html.ActionLink("Register", "Create", "Users")</li>
                        <li>@Html.ActionLink("Login", "Login", "Users")</li>
                    }
                </ul>
                <ul class="navbar-form">
                    <li>
                        <form method="post" class="form-horizontal" style="display: inline-block">
                            <input type="text" placeholder="Search..." name="searchEngine" class="form-control"/>
                            <button type="submit" class="btn btn-default" id="searchBtn" formaction="../Search/Index">&#x1f50d;</button>
                        </form>
                    </li>                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (AuthManager.GetAuthenticated() != null)
                    {
                        <li>@Html.ActionLink("Upload Photo", "Create", "Pictures")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                        <li>@Html.ActionLink("Hello " + AuthManager.GetAuthenticated().Username, "Details/" + AuthManager.GetAuthenticated().Id, "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
