@using Le6pergram.Web.Utilities;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{  var currentUse = AuthManager.GetAuthenticated();
        var context = new Le6pergramDatabase();
        var notifications = new List<Le6pergram.Models.Notification>();
        if (currentUse != null)
        {
            notifications = context.Notifications.Where(n => n.ReceiverId == currentUse.Id).OrderByDescending(n => n.Date).ToList();
        }
    }
    <div class="navbar navbar-inverse navbar-fixed-top" id="navBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="width: 143px; height: 55px;" class="le6pergramLogo" src="~/Content/le6pergram.jpg" onclick="location.href='@Url.Action("Index","Home")'" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (currentUse == null)
                    {
                        <li>@Html.ActionLink("Register", "Create", "Users")</li>
                        <li>@Html.ActionLink("Login", "Login", "Users")</li>
                    }
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <form method="post" class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" placeholder="Search..." name="searchEngine" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-default" id="searchBtn" formaction="../../Search/Index">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </form>
                    </li>
                </ul>

                @if (currentUse != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Upload Photo", "Create", "Pictures")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
                        <li>
                            <div class="dropdown">
                                <img src="~/Content/heart.png" data-toggle="dropdown" class="nav navbar-nav navbar-right heart-notification" onmouseover="this.style.border='solid 1px #ddd'" onmouseout="this.style.border='solid 1px #ffffff'" />
                                <ul class="dropdown-menu">
                                    @foreach (var notification in notifications)
                                    {
                                        if (notification.Type.ToString() == "Follow")
                                        {
                                            <li class="notification" onclick="location.href='../../Users/Details/' + @notification.Sender.Id">
                                                <img onclick="location.href='../../Users/Details/' + @notification.SenderId" src="data:image;base64,@System.Convert.ToBase64String(notification.Sender.RegisterProfilePicture)" class="img-circle" width="50" height="50" />
                                                <span>@Html.ActionLink(notification.Sender.Name, "Details/" + notification.SenderId, "Users") started following you.</span>
                                                @if (currentUse.Id != notification.SenderId && !notification.Sender.Followers.Any(u => u.Id == currentUse.Id))
                                                {
                                                <div style="display:inline">
                                                    @Html.ActionLink("Follow", "Follow", "Users", new { id = notification.SenderId, loggedId = currentUse.Id }, new { @class = "btn btn-default"})
                                                </div>
                                                }
                                                else if (currentUse.Id != notification.SenderId && notification.Sender.Followers.Any(u => u.Id == currentUse.Id))
                                                {
                                                <div>
                                                    @Html.ActionLink("Unfollow", "Unfollow", "Users", new { id = notification.Sender.Id, loggedId = currentUse.Id }, new { @class = "btn btn-default", style = "margin-top: 22px" })
                                                </div>
                                                }
                                            </li>
                                            <li><hr /></li>

                                        }
                                        else if (notification.Type.ToString() == "Like")
                                        {
                                            <li class="notification"  onclick="location.href='../../Pictures/Details/' + @notification.Picture.Id">
                                                <img onclick="location.href='../../Users/Details/' + @notification.SenderId" src="data:image;base64,@System.Convert.ToBase64String(notification.Sender.RegisterProfilePicture)" class="img-circle" width="50" height="50" />
                                                <span>@notification.Sender.Name liked your photo.</span>
                                                <img onclick="location.href='../../Pictures/Details/' + @notification.PictureId" src="data:image;base64,@System.Convert.ToBase64String(notification.Picture.Content)" width="50" height="50" />
                                            </li>
                                            <li><hr /></li>
                                        }
                                        else
                                        {
                                            <li class="notification" onclick="location.href='../../Pictures/Details/' + @notification.Picture.Id">
                                                <img onclick="location.href='../../Users/Details/' + @notification.SenderId" src="data:image;base64,@System.Convert.ToBase64String(notification.Sender.RegisterProfilePicture)" class="img-circle" width="50" height="50" />
                                                <span>@notification.Sender.Name commented on your photo.</span>
                                                <img onclick="location.href='../../Pictures/Details/' + @notification.PictureId" src="data:image;base64,@System.Convert.ToBase64String(notification.Picture.Content)" width="50" height="50" />
                                            </li>
                                            <li><hr /></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                        <li><img src="~/Content/myprofile.JPG" onclick="location.href='../../Users/Details/' + @currentUse.Id" class="nav navbar-nav navbar-right" style="margin-top: 5px; border: solid 1px #ffffff" onmouseover="this.style.border='solid 1px #ddd'" onmouseout="this.style.border='solid 1px #ffffff'" /></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - le6pergram</p>
        </footer>
    </div>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
