@model Le6pergram.Web.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>*@

<div>
    @*<h4>User</h4>*@
    <br />
    <br />
    <div class="jumbotron row">
        <div class="col-md-3">
            @if (Model.ProfilePicture != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.ProfilePicture.Content)" width="152" height="152" class="img-circle" />
            }
            else
            {
                if (Model.RegisterProfilePicture != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.RegisterProfilePicture)" width="152" height="152" class="img-circle" />
                }
            }
        </div>
        @*<div class="container col-md-3">
                @Html.DisplayFor(model => model.Username)
            </div>*@
        <div class="col-md-9">
            <div class="container col-md-4">
                Publications:
                <b>@Html.DisplayFor(model => model.Pictures.Count)</b>
            </div>
            <div class="container col-md-4">
                Following:
                <b>@Html.DisplayFor(model => model.Following.Count)</b>
            </div>
            <div class="containter col-md-4">
                Followers:
                <b>@Html.DisplayFor(model => model.Followers.Count)</b>
            </div>
            <div class="container col-md-4">
                <h2><i>@Html.DisplayFor(model => model.Username)</i></h2>
            </div>
            @if (AuthManager.GetAuthenticated() != null && AuthManager.GetAuthenticated().Id == Model.Id)
            {
                <div class="container col-md-4">
                    @Html.ActionLink("Edit your profile", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default", style = "margin-top: 22px" })
                </div>
            }
            else
            {
                var loggedUser = AuthManager.GetAuthenticated();
                if (loggedUser != null)
                {
                    if (loggedUser.Id != Model.Id && !Model.Followers.Any(u => u.Id == loggedUser.Id))
                    {
                        <div class="container col-md-4">
                            @Html.ActionLink("Follow", "Follow", "Users", new { id = Model.Id, loggedId = AuthManager.GetAuthenticated().Id }, new { @class = "btn btn-default", style = "margin-top: 22px" })
                        </div>
                    }
                    else if (loggedUser.Id != Model.Id && Model.Followers.Any(u => u.Id == loggedUser.Id))
                    {
                        <div class="container col-md-4">
                            @Html.ActionLink("Unfollow", "Unfollow", "Users", new { id = Model.Id, loggedId = AuthManager.GetAuthenticated().Id }, new { @class = "btn btn-default", style = "margin-top: 22px" })
                        </div>
                    }
                }
            }
            <div class="container col-md-4">
                <h2><b>@Html.DisplayFor(model => model.Biography)</b></h2>
            </div>
        </div>
        <hr />
    </div>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            @foreach (var currentPicture in Model.Pictures.OrderByDescending(p => p.Id))
            {
                <div class="col-sm-4">
                    <img src="data:image;base64,@System.Convert.ToBase64String(currentPicture.Content)" class="img-responsive" style="width:100%" onclick="location.href='../../Pictures/Details/' + @currentPicture.Id">
                </div>
            }
        </div>
    </div><br><br>
</div>
<p>
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
